@import url(https://fonts.googleapis.com/css?family=Inter);

$azul: #2384c8;
$azul2: #5be0e6;
$gradiente: linear-gradient($azul, $azul2);
$branco: #fff;

* {
    font-family: "Inter";
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background: $gradiente;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .containerLogo {
        color: $branco;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-top: 50px;

        img {
            width: 100px;
        }
    }

    .containerLink {
        div {
            color: $branco;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 9vh;

            img {
                width: 25px;
                height: 25px;
            }

            .NavLink {
                text-decoration: none;
                color: inherit;
                width: 100%;
                text-align: center;
            }

            &:has(> .active) {
                background-color: $branco;
                color: black;
                text-decoration: none;
                color: inherit;
                width: 100%;
                text-align: center;
            }
        }
    }

    .containerConfig {
        color: $branco;

        .config {
            height: 9vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 25px;
            height: 25px;
        }

        &:hover {
            background-color: $branco;
            color: black;
        }

        &:has(> .active) {
            background-color: $branco;
            color: black;
            text-decoration: none;
            color: inherit;
            width: 100%;
            text-align: center;
        }

        .NavLink {
            text-decoration: none;
            color: inherit;
            width: 100%;
            text-align: center;
        }
    }
}
