$azul: #2384c8;
$azul2: #5be0e6;
$gradiente: linear-gradient($azul, $azul2);
$branco: #fff;

.containerPerfil {
    margin-top: 1%;
    margin-left: 12%;
    width: 86vw;
    height: 95vh;
    background-color: $branco;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .containerDados {
        display: flex;
        align-items: center;
        flex-direction: column;
        .containerImg {
            display: flex;
            align-items: center;
            .details {
                margin-left: 25px;
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            .imageResizer {
                width: 100px;
                height: 100px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                img {
                    display: inline;
                    margin: 0 auto;
                    margin-left: -25%; //centers the image
                    height: 100%;
                    width: auto;
                }
            }
        }
        .perfilNivel {
            display: flex;
            align-items: center;
            flex-direction: column;
            .progressBar {
                border-radius: 7px;
                height: 11px;
                margin-left: -11.5%;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
            }
            .progressBar::-webkit-progress-bar {
                background-color: $branco;
            }
            .progressBar::-webkit-progress-value {
                background-color: $azul;
            }
        }
    }
}
